:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Latin Modern Math";
  src: url('/latinmodern-math.woff2') format('woff2'),
       url('/latinmodern-math.woff') format('woff');
}

math .bracket{
  font-family: "Latin Modern Math";
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: #577590;

  &:hover {
    color: #1b2958;
  }
}